<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8" />
        <title>Title</title>
    </head>
    <body>
        <h1>NGiNX, configured by Ansible.</h1>
        <p>{{ ansible_managed }}</p>
        <p>{{ server_name }}</p>
        <p>{{ server }}</p>
    </body>
</html>
