<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8" />
        <title>Ansible</title>
    </head>
    <body>
        <h1>NGiNX, configured by Ansible</h1>
        <p>
            If you can see this? Ansible successfully installed nginx.
        </p>
        <p>
            {{ ansible_managed }}
        </p>
    </body>
</html>
